.projects{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0px auto;
}

.space-img, .static-comp-img, .weather-img, .news-img, .space{
  background-size: cover;
  width: 300px;
  height: 200px;
  margin:0px;
  display: inline-flex;
}
.static-comp-img{
background-image:url('./Icon-Img-Folder/static.png');
}

.space-img{
  background-image:url('./Icon-Img-Folder/space.png');
}

.weather-img{
  background-image:url('./Icon-Img-Folder/weather.png')
}

.news-img{
  background-image: url('./Icon-Img-Folder/news.png')
}

.star{
  background-image: url('./Icon-Img-Folder/star.png')
}



.img-container{
    width: 300px;
    height:200px;
    padding:5px;
}
