.about-me{
  width: 80%;
  margin: auto;
  height: 100%;
  margin-top: 10px;
}

.about-me-img{
  background-image: url('./ImgFolder/3cc4c15c8-2236-475d-965a-cf853c6ffb6c.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:400px;
  height:300px;
}

.home-text{
  background: cadetblue;
  padding: 12px;
  opacity: 0.9;
  color:#fff;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  text-align: center;
  border: #fff 5px solid;
}

.about-me-poem{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  background: white;
  opacity: 0.9;
  font-size: 20px;
  line-height: 2.5;
}
.about-me-poem h3{
  text-decoration: underline;
}
